<div class="jumbotron">
  <div class="container">
    <h1>Drop me a line</h1></br>
    <p>You can add, friend, or follow me... </p>
    <p>
      <%= mail_to "rholdy@gmail.com", 'Email', :class => "btn btn-primary btn-lg" %>
      <%= link_to "GitHub", "https://github.com/rholdy", :class => "btn btn-primary btn-lg" %> 
      <%= link_to "Twitter", "https://twitter.com/ryan_holdaway", :class => "btn btn-primary btn-lg" %> 
      <%= link_to "LinkedIn", "http://www.linkedin.com/pub/ryan-holdaway/79/9a3/116", :class => "btn btn-primary btn-lg" %> 
      <%= link_to "Google+", "https://plus.google.com/104574162680723731489/posts", :class => "btn btn-primary btn-lg" %> 
      <%= link_to "Facebook", "https://www.facebook.com/rholdy", :class => "btn btn-primary btn-lg" %> 
      <%= link_to "Quora", "http://www.quora.com/Ryan-Holdaway", :class => "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>



<div class= "jumbotron" style= "float: right; width: 50%;" >
  <h2>...or you could use this cool form</h2></br>
  <%= simple_form_for @contact_me, url: contact_me_path do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, placeholder: "Your email goes here" %>
      <%= f.input :subject, placeholder: "Message subject goes here" %>
      <%= f.input :body, placeholder: "Your message goes here (make it good)", as: :text, input_html: {rows: 10} %>
      <%= f.button :submit, class: 'btn btn-primary', value: "Send" %>
    </div>
  <% end %>
</div>


