<h1 class= "page-title">This is my blog</h1>

<div class= 'post'>

<% @posts.each do |post| %>
  
  
    <h3 class= 'post-title'><%= post.title %></br></h3>
    <p class= 'post-body'><%= post.body %></br><p>
    <%= post.Author %></br></br>

  
  
    <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-primary btn-lg" %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-lg" %>
    <%= link_to 'New Post', new_post_path, :class => "btn btn-primary btn-lg" %>

<% end %>

 </div> 

